
        div {
            border: solid;
        }


        @media only screen and (min-width: 100px) {
            /* For tablets: */

            /* this will change the container class background to red when tablet*/

            .col {
                background-color: rgb(237, 203, 215);
            }
        }

        @media only screen and (min-width: 768px) {
            /* For desktop: will change the container class to orange*/

            .col {
                background-color: rgb(192, 240, 219);
            }
        }

        @media only screen and (min-width: 992px) {
            /* For desktop: will change the container class to orange*/

            .col {
                background-color: rgb(185, 228, 236);
            }
        }

        @media only screen and (min-width: 1200px) {
            /* For desktop: will change the container class to orange*/

            .col {
                background-color: rgb(245, 223, 236);
            }
        }

        Orientation of landscape

        @media only screen and (orientation: landscape) {
            /* this will change the background to light blue when view is landscape */
            background-color: lightblue;
        }
    
